aside{
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    padding: 30px 20px;
    width: 350px;   
}

aside strong{
    color: #333;
    display: block;
    font-size: 20px;
    text-align: center;
}

aside form{
    margin-top: 30px;
}

aside form .input-block:not(:first-child){
    margin-top: 20px;
}

aside form .input-group {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block{
    margin-top: 0;
}

aside form .input-block label{
    color: #ACACAC;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

aside form .input-block input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #EEE;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    width: 100%;
}

aside form button[type="submit"]{
    background-color: #7D40E7;
    border: 0;
    color: #FFF;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px 20px;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
}

aside form button[type="submit"]:hover{
    background-color: #6931CA;
    color: rgb(179, 179, 179);
}